.vscode/
.idea/
__pycache__/
*.pyc

.venv/
venv/
env/
.conda/
.huggingface/

checkpoints/
downloads/
log/
logs/

datasets/ecg_datasets/
datasets/dataset_preprocess/PTBXL/ecg_ptbxl_benchmarking/code/datasets/

*.pth
*.pt
*.ckpt
*.npy
*.npz
*.tar
*.tar.gz
*.zip

HeartLang_code.tar.gz
single_ecg.npy
preprocessing_stats.npz

*.out
*.log
events.out.tfevents*
