numpy==1.26.4
pandas==1.5.3
scipy==1.13.0
scikit-learn==1.4.2
matplotlib==3.8.4
h5py==3.11.0
wfdb==4.1.2
mne==1.4.2
tqdm==4.65.2
einops==0.8.0
timm==0.9.16
tensorboard==2.16.2
tensorboardX==2.6.2.2
pyhealth==1.1.6
transformers==4.40.1
huggingface-hub==0.23.0
safetensors==0.4.3
requests==2.28.2
urllib3==1.26.15
Pillow==10.3.0
opencv-python==4.10.0.84
openpyxl==3.1.5
xlrd==2.0.1
